.grid-container {
  display: grid;
  grid-gap: 10px;
  background-color: #f432;
  padding: 10px;
}

.grid-item {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.background {
grid-column: 1 / span auto;
grid-row:1 / span auto;

  margin: auto;
  max-width: auto;

z-index: 20;
}

.item1 {
  grid-column: auto;
  grid-row: 5;
}

.item2 {
  grid-column: auto;
  grid-row: 5;
}

.item3 {
  grid-column: auto;
  grid-row: 5;
}

.item4 {
  grid-column: auto;
grid-row: 5;
}

.item5 {
  grid-column:  auto;
  grid-row: 5;
}

.Profile {
  border-radius: 50%;
  z-index: 100;
  position: absolutetop:50%;
  left:50%;
  margin-top:-146px;  // half of height
  margin-left:-229px;  // half of width
  cursor:pointer;;
}

.Inlägg {
  grid-column:  auto;
  grid-row: 6;
}

.om {
  grid-column:  auto;
  grid-row: 6;
}

.Vänner {
  grid-column:  auto;
  grid-row: 6;
}

.foton{
  grid-column:  auto;
  grid-row: 6;
}

.grid-container :first-child {
  grid-column: 1;
  grid-row:;
}

.Grid-containerL {
  display: grid;
  background-color: #fff;
  padding: 10px;
}

.grid-Left {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.Left {
grid-column: 1/ span 2;
grid-row: 1 / span 5;
}

.Grid-containerH {
  display: grid;
  background-color: #fff;
  padding: 10px;
}

.grid-Rigth {
  background-color: #f2f2f2;
  text-align: center;
  padding: 20px;
  font-size: 30px;
}

.Rigth {
grid-column: 2 / span 2;
grid-row: 1 / span 5;
}
/*developer mozzila*/

@media screen and (max-width: 600px) {
   {
    float: none;
    width: 100%;
  }
}

/*Använd collum*/
